<ion-header class="bar-assertive">
  <ion-menu-button side="left">
    <button
      class="button button-icon button-clear ion-navicon"
      menu-toggle="left"
    ></button>
  </ion-menu-button>
  <ion-title>Clientes</ion-title>
</ion-header>

<ion-content style="--background: #f0f0f0">
  <form #clientForm="ngForm" novalidate id="formCliente">
    <h4 class="assertive padding">Dados Principais</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Nome Fantasia"
          [(ngModel)]="cliente.cli_fantasia"
          name="cli_fantasia"
          required
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Razão Social"
          name="cli_razaosocial"
          [(ngModel)]="cliente.cli_razaosocial"
          required
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <select [(ngModel)]="cliente.atividade_id" name="atividade_id">
          <option value="">Selecione uma atividade</option>
          <option
            value="{{ atividade.atividade_id }}"
            *ngFor="let atividade of atividades"
          >
            {{ atividade.descricaoatividade }}
          </option>
        </select>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="phone"
          placeholder="CPF/CNPJ"
          name="cli_cnpjcpf"
          [(ngModel)]="cliente.cli_cnpjcpf"
          required
          mask="00.000.000/0000-00"
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Inscrição Estadual"
          name="cli_inscricaoestadual"
          [(ngModel)]="cliente.cli_inscricaoestadual"
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Inscrição Municipal"
          name="cli_inscricaomunicipal"
          [(ngModel)]="cliente.cli_inscricaomunicipal"
        ></ion-input>
      </label>
    </div>
    <h4 class="assertive padding">Dados Cadastrais</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Endereço"
          name="cli_endereco"
          [(ngModel)]="cliente.cli_endereco"
          required
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Bairro"
          name="cli_bairro"
          [(ngModel)]="cliente.cli_bairro"
          required
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="CEP"
          name="cli_cep"
          [(ngModel)]="cliente.cli_cep"
          maxlength="8"
          required
        ></ion-input>
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <select [(ngModel)]="cliente.cli_codigocidade" name="cli_codigocidade">
          <option value="">Selecione uma cidade</option>
          <option value="{{ cidade.cidade_id }}" *ngFor="let cidade of cidades">
            {{ cidade.descricaocidade }}
          </option>
        </select>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          placeholder="Fax"
          [(ngModel)]="cliente.cli_fax"
          name="cli_fax"
          type="text"
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          placeholder="E-mail"
          [(ngModel)]="cliente.cli_email"
          name="email"
          type="email"
        >
        </ion-input>
      </label>
    </div>
    <h4 class="assertive padding">Dados de Contato</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Contato 1"
          name="cli_contato1"
          [(ngModel)]="cliente.cli_contato1"
          required
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="phone"
          placeholder="Telefone 1"
          name="cli_telefone1"
          [(ngModel)]="cliente.cli_telefone1"
          required
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Contato 2"
          name="cli_contato2"
          [(ngModel)]="cliente.cli_contato2"
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="phone"
          placeholder="Telefone 2"
          name="cli_telefone2"
          [(ngModel)]="cliente.cli_telefone2"
        >
        </ion-input>
      </label>
    </div>
    <h4 class="assertive padding">Dados de Entrega</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Endereço"
          name="cli_enderecoentrega"
          [(ngModel)]="cliente.cli_enderecoentrega"
          required
        ></ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="Bairro"
          name="cli_bairroentrega"
          [(ngModel)]="cliente.cli_bairroentrega"
          required
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <ion-input
          type="text"
          placeholder="CEP"
          name="cli_cepentrega"
          [(ngModel)]="cliente.cli_cepentrega"
          maxlength="8"
          required
        >
        </ion-input>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <!-- <i class="icon ion-search placeholder-icon"></i> -->
        <select
          [(ngModel)]="cliente.cli_codigocidadeentrega"
          name="cli_codigocidadeentrega"
        >
          <option value="">Selecione uma cidade</option>
          <option value="{{ cidade.cidade_id }}" *ngFor="let cidade of cidades">
            {{ cidade.descricaocidade }}
          </option>
        </select>
      </label>
    </div>

    <div class="padding">
      <button
        class="button button-full button-assertive"
        (click)="salvar(clientForm)"
        [disabled]="!clientForm.valid"
        type="submit"
      >
        Salvar
      </button>
    </div>
  </form>
</ion-content>
