<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    </ion-menu-button>  
</ion-header>

  <ion-content class="padding">
    <div class="item mt-30">
      <select [(ngModel)]='meta_id' (change)='selectChar(meta_id)'>
        <option value="" selected >Selecione uma meta</option>
        <option value="{{meta.meta_id}}" *ngFor="let meta of metas" >{{meta.descricaometa}}</option>
      </select>
    </div>
    <div class="item item-text-wrap">  
      <canvas  class="chart chart-bar" #barChart></canvas>
    </div>
  </ion-content>


