<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    </ion-menu-button>  
</ion-header>

  <ion-content class="padding">
    <div class="item">
      <select ng-model="meta_id"
              ng-change="grafico(meta_id);"
              ng-options="m.meta_id as m.descricaometa for m in metas">
        <option value="">Selecione uma meta</option>
      </select>
    </div>
    <div class="item item-text-wrap">
      <canvas id="bar"
              class="chart chart-bar"
              chart-data="data"
              chart-labels="labels"
              chart-colors="colors"
              chart-series="series">
      </canvas>
    </div>
  </ion-content>


