<ion-header class="bar bar-header bar-assertive ">
    <ion-title class="filter-bar">Confirmar Produto</ion-title>
    <button class="button close-btn" (click)="dismiss()">
    <i class="ion-close-round"></i>
  </button>
</ion-header>
<ion-content>
    <form #addProdutoForm="ngForm" novalidate>
        <div class="list">
            <label class="item item-input mt-55">

        <select [(ngModel)]="produtoEscolhido.comissao" (change)="selecionaComissao();"
          [disabled]="produtoEscolhido.promocao == 'S' && usuario.trava_edicao_promocao == true" name="comissao">
          <option value="">Selecione a Comissão</option>
          <option [value]="toNumber(comissao.precoinicial)" *ngFor="let comissao of comissoes_produto">pristine
            De {{toNumber(comissao.precoinicial) }}
            a {{toNumber(comissao.precofinal)}} =>
            {{toNumber(comissao.comissao) }}%
          </option>
        </select>
      </label>
            <label class="item item-input item-stacked-label">
        <span class="input-label">Produto </span>
        <ion-input type="text" [(ngModel)]="produtoEscolhido.descricao" readonly name="descricao"></ion-input>
      </label>

            <label class="item item-input item-stacked-label">
        <div class="input-label">Desconto (%) <small *ngIf="!isValidate" style="color: red;">deve ser
            menor que ({{descontoPermitido}}%)</small></div>
        <div>
          <input type="phone" [disabled]="produtoEscolhido.promocao == 'S' && usuario.trava_edicao_promocao == true"
            (keyup)="calculaDesconto(addProdutoForm)" name="desconto" currencyMask #desconto="ngModel"
            [options]="{ prefix: '', thousands: '.', decimal: ',' }"
            [(ngModel)]="produtoEscolhido.desc_unitario_percentual">
        </div>

      </label>

            <label class="item item-input item-stacked-label">
        <div class="input-label">Preço</div>
        <div>
          <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" name="preco_unitario_bruto"
            type="text" [(ngModel)]="produtoEscolhido.preco_unitario_bruto" />
        </div>
      </label>

            <label class="item item-input item-stacked-label">
        <div class="input-label">Acréscimo (%)</div>
        <div>
          <input currencyMask name="acrescimo" type="phone" [(ngModel)]="produtoEscolhido.acrescimo"
            [options]="{ prefix: '', thousands: '.', decimal: ',' }" (keyup)="atualizarPreco(addProdutoForm);"
            ui-number-mask [disabled]="produtoEscolhido.promocao == 'S' && usuario.trava_edicao_promocao == true" />
        </div>

      </label>

            <label class="item item-input item-stacked-label">
        <div class="input-label">Preço de Venda</div>
        <div>
          <input name="preco_unitario_comdesconto" type="phone" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            [(ngModel)]="produtoEscolhido.preco_unitario_comdesconto" (blur)="calculaPrecoComDesconto(addProdutoForm);"
            [disabled]="produtoEscolhido.promocao == 'S' && usuario.trava_edicao_promocao == true" />
        </div>

      </label>
            <!-- <label class="item item-input">
    <span class="input-label">Quantidade</span>
    <ion-input type="number" [(ngModel)]="produtoEscolhido.quantidade" ngIf="atualizarPreco(addProdutoForm);">
  </label> -->
            <div class="item item-input item-stacked-label">
                <span class="input-label">Quantidade</span>
                <ion-row class="h-number">
                    <div (click)="Minus()">-</div>
                    <ion-input [(ngModel)]="produtoEscolhido.quantidade" name="quantidade" min="1" step="1" type="number" (change)="calculaPrecoPorQuantidade();">
                    </ion-input>
                    <div (click)="Plus()">+</div>
                </ion-row>

            </div>
            <label class="item item-input item-stacked-label">
        <span class="input-label">Total</span>
        <ion-input name="valor_total_item" type="text" [(ngModel)]="produtoEscolhido.valor_total_item" ui-money-mask="2"
          readonly></ion-input>
      </label>
        </div>

        <button class="button button-block" (click)="maisDetalhesProduto()">
      <i class="icon ion-search"></i>
      Mais Detalhes
    </button>
        <button class="button button-block button-assertive" [disabled]="!addProdutoForm.valid || !isValidate" (click)="confirmaProdutoPedido(addProdutoForm)">
      <i class="icon ion-checkmark"></i>
      Confirmar
    </button>
    </form>
</ion-content>