<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    </ion-menu-button>
    <ion-title>Compas</ion-title>
    <button class="button close-btn" (click)="filterModal();">
    <i class="ion-funnel "></i>
  </button>
</ion-header>

<ion-content class="padding">
    <h4 class="assertive">
        <small>Quantidade: {{compras.length}}</small>
        <br />
        <small>Total das Compras: {{totalCompras(compras) | currency:"R$":"symbol"}}</small>
        <br />
        <small>Total das Comissões: {{totalComissoes(compras) | currency:"R$":"symbol"}}</small>
    </h4>

    <ion-list>
        <ion-row class="item" (click)="mostrarItens(compra.compras_id);" *ngFor="let compra of compras">
            <b>Nº: {{compra.compras_documento_nro}}</b>
            <span class="item-note">
        <b>{{compra.compras_totalcompra | currency:"R$":"symbol"}}</b>
      </span>
            <p>
                <b>Comissão:</b> {{compra.compras_totalcomissao | currency:"R$":"symbol"}}
            </p>
            <p>
                <b>Cliente:</b> {{compra.compras_cliente_nome}}
            </p>
            <p>
                <span ng-class="verificaDataAtraso(item.datavencimento);">
          Data da Compra: {{compra.compras_datacompra.substring(0, 10) | date:"dd/MM/yyyy"}}
        </span>
                <span class="item-note">
          {{compra.compras_tipo}}
        </span>
            </p>
            <p>
                <span ng-class="verificaDataAtraso(item.datavencimento);">
          Desconto: {{compra.compras_desconto}}
        </span>
            </p>

        </ion-row>
        <ion-infinite-scroll (ionInfinite)="loadMore($event) ">
            <ion-infinite-scroll-content loadingSpinner="lines " loadingText="Loading more data... ">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>