<ion-content class="bg">
    <div class="list list-inset" style="background: transparent;">
			<div class="logo-login">
				<img src="../assets/img/LOGO_APP.png" />
			</div>
			<form #formLogin="ngForm" novalidate name="formLogin" class="padding">
	      <label class="item item-input">
	        <ion-input type="text" placeholder="Usuário"  required autofocus="true" [(ngModel)]="login" name="login" ></ion-input>
	      </label>
	      <label class="item item-input">
	        <input type="password" placeholder="Senha"  required [(ngModel)]="Senha" name="Senha">
	      </label>
				<button class="button button-block button-assertive" 
							 (click)="Login(formLogin)" type="submit" [disabled]="!formLogin.valid">
	        Login
	      </button>
			</form>
    </div>
  </ion-content>