<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
  </button>
    </ion-menu-button>
    <ion-title>Produtos</ion-title>
     <ion-menu-button side="primary">
        <button class="button" ng-click="modal.show();">
    <i class="ion-funnel"></i>
  </button>
    </ion-menu-button>
</ion-header>
    <ion-content class="padding">
        <h4 class="assertive">
          <small>Quantidade de Pedidos: {{filtro.length}}</small>
          <br />
          <small>Total de Pedidos: R$ </small>
        </h4>
        <ion-list >
            <ion-item ng-click="alterar(pedido, pedido.nomecliente);" *ngFor="let pedido of pedidos" >
                
                Entrega em: {{pedido.data_entrega.substring(0, 10) | date:"dd/MM/yyyy"}} - {{pedido.total_pedido| currency:'R$':2}}
                
                <p class="assertive">
                    <b>Cliente:</b> {{pedido.nomecliente}}
                </p>
                <p>
                    <small>{{pedido.enviado == 'S' ? 'ENVIADO' : 'NÃO ENVIADO'}}</small>
                </p>
                <p>Tipo: {{pedido.tipo_pedido | tipoPedidoFilter}}</p>
                <ion-option-button class="button-positive" ng-click="duplicarPedido(pedido)">
                    Duplicar
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="apagarPedido(pedido)">
                    Apagar
                </ion-option-button>
            </ion-item>
            <ion-item class="assertive" ng-show="pedidos.length == 0">Não existem pedidos no sistema.</ion-item>
        </ion-list>
    </ion-content>