<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-menu-button>

</ion-header>

<ion-view view-title="Mensagens" class="message-section">
    <ion-content class="padding">
        <ng-container *ngIf="emptyMessage == ''; else elseTemplate">
            <div class="card" *ngFor="let mensagem of mensagens">
                <div class="item item-text-wrap">
                    {{mensagem.mensagem}}
                </div>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="assertive">Nenhuma mensagem encontrada.</div>
        </ng-template>
    </ion-content>
</ion-view>