<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-menu-button>
    <ion-title>Pedidos</ion-title>
    <button class="button close-btn" (click)="filter(); ">
        <i class="ion-funnel "></i>
    </button>
</ion-header>
<ion-content class="padding">
    <h4 class="assertive">
        {{nomecliente}}
        <br />
        <small>Quantidade de Pedidos: {{pedidos.length}}</small>
        <br />
        <small>Total de Pedidos: {{totalPedidos(pedidos) | currency:"R$":"symbol"}}</small>
    </h4>
    <ion-list>
        <ion-item-sliding *ngFor="let pedido of pedidos">
            <ion-item class="item"  (click)="opcoes(pedido ,cliente_id, nomecliente); ">
                <ion-row>
                    <p>Entrega em: {{pedido.data_entrega.substring(0, 10) | date:"dd/MM/yyyy"}} - {{pedido.total_pedido | currency:"R$":"symbol"}}</p>

                    <p>
                        {{pedido.enviado == 'S' ? 'ENVIADO' : 'NÃO ENVIADO'}}
                    </p>
                    <p>Tipo: {{tipoPedidoFilter(pedido.tipo_pedido)}}</p>
                </ion-row>
            </ion-item>
            <ion-item class="assertive" *ngIf="pedidos.length == 0">Não existem pedidos para este cliente.</ion-item>
        
        </ion-item-sliding>
    </ion-list>
</ion-content>
<button (click)="cadastro(cliente_id, nomecliente);" class="button button-assertive button-float">
    <i class="icon ion-plus-round"></i>
</button>