<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>
    </ion-menu-button>
    <ion-title>Titulos</ion-title>
    <ion-menu-button side="primary">
        <button class="button" ng-click="modal.show();">
  <i class="ion-funnel"></i>
</button>
    </ion-menu-button>
</ion-header>
<ion-content class="padding">
    <h4 class="assertive">
        <small>Quantidade: {{filtro.length}}</small>
        <br/>
        <small>Total:  R$</small>
    </h4>

    <ion-list>
        <ion-row class="item" *ngFor="let item of items">
            <b [ngClass]="verificaDataAtraso(item.datavencimento)">Nº: </b>
            <span [ngClass]="verificaDataAtraso(item.datavencimento)">{{item.numerotitulo}}</span>
            <span class="item-note">
          {{item.valor | currency:"R$ "}}
      </span>
            <p>
                <b>Cliente:</b> {{item.nomecliente}}
            </p>
            <p>
                <span [ngClass]="verificaDataAtraso(item.datavencimento)">
          Vencimento: {{item.datavencimento.substring(0, 10) | date:"dd/MM/yyyy"}}
        </span>
                <span class="item-note">
            {{item.parcela}}
        </span>
            </p>
            <p>
                <span [ngClass]="verificaDataAtraso(item.datavencimento)">
          Emitido em: {{item.dataemissao.substring(0, 10) | date:"dd/MM/yyyy"}}
        </span>
            </p>
            <p>
                <span [ngClass]="verificaDataAtraso(item.datavencimento)">
          Saldo: {{item.saldo| currency:"R$ "}}
        </span>
                <span class="item-note">
            Juros: {{item.juros| currency:"R$ "}}
        </span>
            </p>
        </ion-row>
        <ion-infinite-scroll ng-if="carregarMais" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-list>
</ion-content>