<ion-header class="bar bar-header bar-assertive ">
    <ion-title class="filter-bar ">Adicionar Produtos</ion-title>
    <button class="button close-btn addproduto-filter" (click)="filter(); ">
    <i class="ion-funnel "></i>
  </button>
    <button class="button close-btn" (click)="dismiss()">
    <i class="ion-close-round"></i>
  </button>
</ion-header>
<ion-content>
    <!-- <div class="bar bar-header bar-assertive item-input-inset">
      <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="busca" placeholder="Pesquisar" style="text-transform: uppercase;">
      </label>
  </div> -->
    <ion-list>
        <ion-item-sliding *ngFor="let produto of listaProdutos">
            <ion-item class="item" [class]="{'balanced': produto.produtoempromocao == 'S'}" (click)="addProdutoPedido(produto);">
                <ion-row>
                    <p>
                        <span [class]="{'balanced': produto.produtoempromocao == 'S', 'assertive': produto.produtoemfalta == 'S', 'positive': produto.produtonovo == 'S'}">{{produto.descricaoproduto}}</span>
                        <br>
                        <small>
              {{produto.dados_adicionais}}
            </small>
                    </p>

                    <span class="item-note-left" style="font-size: 18px; color: #aaa !important;" [hidden]="!(produto.produtoembalagem && produto.produtoembalagem > 1)">
            <small class="item-note-label">Unitário: </small>
            <small *ngIf="(produto.produtoempromocao == 'S')">
              {{produto.precopadrao/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$":"symbol"}}
            </small>
            <b
              [class]="{'balanced': produto.produtoempromocao == 'S'}">{{(produto.produtoempromocao == 'S'?produto.preco_promocao:produto.precotabela)/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$":"symbol"}}</b>
          </span>

                    <span class="item-note" style="font-size: 18px; text-align: right;position: absolute;
                    right: 11px;
                    bottom: 5px;">
            <small style="color: red; text-decoration: line-through; font-size: 12px;"
            *ngIf="(produto.produtoempromocao == 'S')">
              {{produto.precopadrao| currency:"R$":"symbol"}}
            </small>
            <b
              [class]="{'balanced': produto.produtoempromocao == 'S'}">{{produto.produtoempromocao == 'S'?produto.preco_promocao:produto.precotabela| currency:"R$":"symbol"}}</b>
          </span>
                </ion-row>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option class="button-assertive" (click)="comissoes(produto.produto_id);" color="danger">Commisoes
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>