.addproduto-filter {
    margin-right: 24px !important;
    top: 7px;
    right: 16px;
}

.item {
    padding: 16px 1px;
    .item-div {
        width: 100%;
        .detail-item {
            width: 90%;
            margin-bottom: 3px;
            white-space: normal;
        }
    }
}

.padding {
    margin-top: 44px;
}