<ion-header class="bar bar-header bar-assertive ">
    <ion-title class="filter-bar">Adicionar Produtos</ion-title>
    <button class="button close-btn" (click)="dismiss()">
  <i class="ion-close-round"></i>
</button>
</ion-header>
<ion-content>
    <!-- <div class="bar bar-header bar-assertive item-input-inset">
      <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="busca" placeholder="Pesquisar" style="text-transform: uppercase;">
      </label>
  </div> -->
    <ion-list>

        <ion-row class="item" [class]="{'balanced': produto.produtoempromocao == 'S'}" (click)="addProdutoPedido(produto);" *ngFor="let produto of listaProdutos">
            <p>
                <span [class]="{'balanced': produto.produtoempromocao == 'S', 'assertive': produto.produtoemfalta == 'S', 'positive': produto.produtonovo == 'S'}">{{produto.descricaoproduto}}</span>
                <br>
                <small>
                {{produto.dados_adicionais}}
              </small>
            </p>

            <span class="item-note-left" style="font-size: 18px; color: #aaa !important;" [hidden]="!(produto.produtoembalagem && produto.produtoembalagem > 1)">
              <small class="item-note-label">Unitário: </small>
              <small [hidden]="!(produto.produtoempromocao == 'S')">
              {{produto.precopadrao/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$"}}
              </small>
              <b [class]="{'balanced': produto.produtoempromocao == 'S'}">{{(produto.produtoempromocao == 'S'?produto.preco_promocao:produto.precotabela)/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$"}}</b>
          </span>

            <span class="item-note" style="font-size: 18px; text-align: right;">
              <small style="color: red; text-decoration: line-through; font-size: 12px;" [hidden]="!(produto.produtoempromocao == 'S')">
                  {{produto.precopadrao| currency:"R$"}}
              </small>
              <b [class]="{'balanced': produto.produtoempromocao == 'S'}">{{produto.produtoempromocao == 'S'?produto.preco_promocao:produto.precotabela | currency:"R$"}}</b>
          </span>

            <ion-option-button class="button-assertive" (click)="comissoes(produto.produto_id);">
                Comissões
            </ion-option-button>
        </ion-row>
        <ion-infinite-scroll ng-if="carregarMaisProdutos" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-list>
</ion-content>