<ion-header class="bar bar-header bar-assertive ">
    <ion-title class="filter-bar">Produto por Clientes</ion-title>
    <button class="button close-btn" (click)="dismiss({})">
  <i class="ion-close-round"></i>
</button>
</ion-header>
<ion-content>
    <ion-list class="padding">

        <ion-item-sliding *ngFor="let item of itens">
            <ion-item class="item">
                <div>
                    <b>Cliente: {{item.cliente_nome}}</b>
                    <div>
                        <p>
                            Quant : {{ item.quant | currency:"R$":"symbol"}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Total: {{item.total_item | currency:"R$":"symbol"}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Desconto: {{item.total_desconto | currency:"R$":"symbol"}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Comissão: {{item.total_comissao | currency:"R$":"symbol"}}
                        </p>
                    </div>

                </div>
            </ion-item>
        </ion-item-sliding>

    </ion-list>
</ion-content>