<ion-app>
    <ion-content>
        <ion-menu contentId="main-content" type="push">
            <ion-header class="bar-assertive bar-header">
                <h1 class="title">Menu</h1>
            </ion-header>
            <ion-content style="background: #FFF;">
                <ion-list>

                    <ion-menu-toggle>
                        <ion-row class="item" menuClose [routerLink]="['/inicio']">
                            <i class="icon ion-home"></i> Inicio
                        </ion-row>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/produtos']">
                            <i class="icon ion-cube"></i> Produtos
                        </ion-row>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/clientes']">
                            <i class="icon ion-person-stalker"></i> Clientes
                        </ion-row>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/mensagens']">
                            <i class="icon ion-email"></i> Mensagens
                        </ion-row>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/metas']">
                            <i class="icon ion-arrow-graph-up-right"></i> Metas
                        </ion-row>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/inicio']">
                            <i class="icon ion-stats-bars"></i> Relatórios
                        </ion-row>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-row class="item" menu-close [routerLink]="['/sincronizar']">
                            <i class="icon ion-loop"></i> Sincronização
                        </ion-row>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>

</ion-app>