<ion-app>
    <ion-content>
        <ion-menu contentId="main-content" type="push">
            <ion-header class="bar-assertive bar-header">
                <h1 class="title">Menu</h1>
            </ion-header>
            <ion-content style="background: #FFF;">
                <ion-list>
                    <ion-item menuClose [routerLink]="['/inicio']">
                        <ion-menu-toggle>
                            <i class="icon ion-home"></i> Inicio
                        </ion-menu-toggle>
                    </ion-item>

                    <ion-item menu-close [routerLink]="['/produtos']">
                        <i class="icon ion-cube"></i> Produtos
                    </ion-item>
                    <ion-item menu-close href="#/app/clientes">
                        <ion-menu-toggle>
                            <i class="icon ion-person-stalker"></i> Clientes
                        </ion-menu-toggle>
                    </ion-item>
                    <ion-item menu-close href="#/app/mensagens">
                        <ion-menu-toggle>
                            <i class="icon ion-email"></i> Mensagens
                        </ion-menu-toggle>

                    </ion-item>
                    <ion-item menu-close href="#/app/metas">
                        <ion-menu-toggle>
                            <i class="icon ion-arrow-graph-up-right"></i> Metas
                        </ion-menu-toggle>
                    </ion-item>
                    <ion-item menu-close href="#/app/inicio">
                        <ion-menu-toggle>
                            <i class="icon ion-stats-bars"></i> Relatórios
                        </ion-menu-toggle>
                    </ion-item>
                    <ion-item menu-close href="#/app/sincronizar">
                        <ion-menu-toggle>
                            <i class="icon ion-loop"></i> Sincronização
                        </ion-menu-toggle>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>

</ion-app>