<ion-header class="bar bar-header bar-assertive ">
    <ion-title class="filter-bar">Filtro de Pedidos</ion-title>
    <button class="button close-btn" (click)="dismiss({})">
    <i class="ion-close-round"></i>
  </button>
</ion-header>
<ion-content class="padding">
    <form #filtroPedidos="ngForm" novalidate name="filtroPedidos">
        <div class="list">
            <label class="item item-input">
        <select [(ngModel)]="filtro.situacao" [ngModelOptions]="{standalone: true}" name="situacao">
          <option value="">Todos</option>
          <option value="S">Enviados</option>
          <option value="N">Não Enviados</option>
        </select>
      </label>
        </div>
        <div class="list">
            <label class="item item-input">
        <select [(ngModel)]="filtro.tipo_pedido" [ngModelOptions]="{standalone: true}" name="tipo_pedido">
          <option value="">Todos os tipos</option>
          <option value="{{tipo.codigo}}" *ngFor="let tipo of tipos">{{tipo.nome}}</option>
        </select>
      </label>
        </div>
        <div class="list">
            <label class="item item-input">
        <select [(ngModel)]="filtro.criterioData" name="criterioData" [ngModelOptions]="{standalone: true}">
          <option value="">Data da Entrega</option>
          <option value="C" selected>Data da Criação</option>
        </select>
      </label>
            <label class="item item-input" ng-class="{'has-error': filtroPedidos.inicio.$invalid}">
        <label style="font-size: 12px;">De: </label>
            <ion-input type="date" name="inicio" [(ngModel)]="filtro.inicio" [required]="filtro.fim != null"></ion-input>
            </label>
            <div class="form-errors" *ngIf="filtro.fim != null && filtro.inicio == null">
                <div class="form-error" *ngIf="filtro.fim != null && filtro.inicio == null">Campo Obrigatório</div>
            </div>

            <label class="item item-input">
        <label style="font-size: 12px;">Até: </label>
            <ion-input type="date" name="fim" [(ngModel)]="filtro.fim" [required]="filtro.inicio != null"></ion-input>
            </label>
            <div class="form-errors" *ngIf="filtro.fim == null && filtro.inicio != null">
                <div class="form-error" *ngIf="filtro.fim == null && filtro.inicio != null">Campo Obrigatório</div>
            </div>
        </div>
        <button class="button button-block button-assertive activated" [disabled]="!filtroPedidos.valid" (click)="filtrarPedidos(filtroPedidos);">Filtrar
        </button>
    </form>
</ion-content>