/* Empty. Add your own CSS if you like */
// table

.filter-bar {
    text-align: center !important;
    padding: 0px !important;
    color: white;
}
table {
    width: 100% !important;
}
table thead{
    border: 2px solid #54a5e3;
    font-size: 9px;
    font-weight: bold;
  
    
}
td, th {
    padding: 10px !important;
    font-size: 11px;
    font-weight: bold;
    a {
        padding: 2px;
    }    
}
.close-btn {
    box-shadow: 0px 0px 1px 1px red !important;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    right: 10px;
    position: absolute;
    top: 10px;
}

.alert-button-group {
    justify-content: space-around !important;
    width: 100% !important;
    color: black;
    .button {
        width: 30% !important;
    }
    .No {
        color: #000;
    }
}

.item-native {
    min-height: 70px !important;
}

.list-md {
    padding-top: 55px;
}

.alert-wrapper.sc-ion-alert-md {
    width: 57% !important;
    background: #ffffffe0 !important;
    >div {
        padding: 8px !important;
        color: black !important;
        justify-content: center;
        text-align: left;
        font-size: 13px;
        h2 {
            font-weight: 500;
            text-align: center;
            margin: 5px 0px;
            font-size: 15px !important;
        }
        .button.button-assertive {
            width: 93%;
            margin: 5px 0px;
        }
        .alert-button-inner.sc-ion-alert-md {
            justify-content: center;
        }
    }
}

.bg {
    //background-image: url("../img/bg.jpg");
    --background: url('../assets/img/bg.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.action-sheet-container.sc-ion-action-sheet-ios {
    padding: 0 !important;
    .action-sheet-title.sc-ion-action-sheet-ios {
        text-align: left;
        padding-left: 15px !important;
    }
    .action-sheet-button.sc-ion-action-sheet-ios {
        height: 42px;
        font-size: 16px;
        contain: strict;
        color: black !important;
        .action-sheet-button-inner.sc-ion-action-sheet-ios {
            justify-content: left;
        }
    }
}

.action-sheet-group.sc-ion-action-sheet-ios:last-child {
    margin: 0px !important;
    border-radius: 0px !important;
}

.action-sheet-group.sc-ion-action-sheet-md:last-child {
    margin: 0px !important;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

#formCliente input {
    text-transform: uppercase;
}

.color-canDown-true,
.color-canUp-true {
    background-color: #eeeeee !important;
}

.box-icone {
    max-width: 95px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #FFF;
    padding: 2px;
    border-radius: 10px;
}

.box-icone img {
    max-width: 256px;
    /* Máximo da largura da imagem */
    width: 100%;
    height: auto;
    /* Máximo da altura da imagem */
    background-size: 100%;
    background-repeat: no-repeat;
}

.box-icone .legenda {
    text-align: center;
    font-size: 11px;
    color: red;
    font-weight: bold;
}

ion-scroll[direction=x] {
    width: 100vw;
}

ion-scroll[direction=y] {
    height: 100vh;
}

.list-md {
    padding-top: 0px;
}

.logo-login {
    width: 200px;
    margin: auto;
}

input[type="number"] {
    border: none;
}

.bar {
    position: inherit;
}

#login {
    text-transform: lowercase;
}

select {
    width: 100%;
    background: transparent !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 30px;
}

.popover {
    height: auto !important;
}

.popover ion-header-bar {
    position: relative;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.button-float {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 100%;
}

.slider {
    height: 100%;
}

.cliente-bloqueado {
    color: #cc0e0e;
    font-weight: bold;
}


/** Styling for the username field **/

.item-inner {
    border: none !important;
}

ion-row {
    padding: 13px 10px !important;
}

label.item.has-error {
    border-bottom: 2px solid red;
}


/** Styling for the password field when an error exists**/

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}


/** Styling for the password field when an error has been resolved**/

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}


/** Styling for the error text and container **/

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}

.item-complex .item-content,
.item-radio .item-content {
    padding: 20px 5px 10px 10px;
}

.preco-a-direita {
    text-align: right;
}

.toolbar-title {
    text-align: left;
    margin-left: 22px;
}