<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-menu-button>
    <ion-title>Compra por Produto</ion-title>
</ion-header>
<ion-content class="padding">
    <h4 class="assertive">
        <small>Quantidade: {{itens.length}}</small>
        <br />
        <small>Total das Compras: {{totalCompras(itens)| currency:"R$":"symbol"}}</small>
        <br />
        <small>Total das Comissões: {{totalComissoes(itens) | currency:"R$":"symbol"}}</small>
    </h4>

    <ion-list>

        <ion-item-sliding *ngFor="let item of itens">
            <ion-item class="item">
                <div>
                    <b>Código: {{item.compras_item_codigoproduto}}</b>
                    <div>
                        Produto :
                        <span class="produto-span">{{item.compras_item_descricaoproduto}}</span>
                    </div>
                    <div>
                        <p>
                            Und: {{item.compras_item_unidadadeproduto}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Quant : {{ item.quant}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Total: {{item.total_item | currency:"R$":"symbol"}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Desconto: {{item.total_desconto | currency:"R$":"symbol"}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Comissão: {{item.total_comissao | currency:"R$":"symbol"}}
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option class="button-assertive" color="danger" (click)="detailItem(item.compras_item_codigoproduto)">CLIENTES
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll (ionInfinite)="loadMore($event) ">
            <ion-infinite-scroll-content loadingSpinner="lines " loadingText="Loading more data... ">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>