<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-menu-button>
    <ion-title>Itens</ion-title>
</ion-header>
<ion-content class="padding">
    <h4 class="assertive">
        <small>Quantidade: {{itens.length}}</small>
        <br />
        <small>Total das Compras: {{totalCompras(itens)| currency:"R$":"symbol"}}</small>
        <br />
        <small>Total das Comissões: {{totalComissoes(itens) | currency:"R$":"symbol"}}</small>
    </h4>

    <ion-list>

        <ion-item-sliding *ngFor="let item of itens">
            <ion-item class="item">
                <div>
                    <b>codigo: {{item.compras_item_codigoproduto}}</b>
                    <div>
                        <p>
                            nome : {{item.compras_item_descricaoproduto}}
                        </p>
                    </div>
                    <div>
                        <p>
                            unidade: {{item.compras_item_unidadadeproduto}}
                        </p>
                    </div>
                    <div>
                        <p>
                            quant : {{ item.quant}}
                        </p>
                    </div>
                    <div>
                        <p>
                            total_item: {{Floor(item.total_item)}}
                        </p>
                    </div>
                    <div>
                        <p>
                            total_desconto: {{Floor(item.total_desconto)}}
                        </p>
                    </div>
                    <div>
                        <p>
                            total_comissao: {{Floor(item.total_comissao)}}
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option class="button-assertive" color="danger" (click)="detailItem(item.compras_item_codigoproduto)">CLIETNS
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll (ionInfinite)="loadMore($event) ">
            <ion-infinite-scroll-content loadingSpinner="lines " loadingText="Loading more data... ">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>