<ion-header class="bar-assertive ">
    <ion-menu-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    </ion-menu-button>
    <ion-title>Produtos</ion-title>

    <button class="button close-btn" (click)="filter()">
    <i class="ion-funnel"></i>
  </button>

</ion-header>
<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let produto of listaProdutos">
            <ion-item class="item" (click)="detalhes(produto);">
                <div class="item-div">
                    <div>
                        <p>
                            <span [class]="{'balanced': produto.produtoempromocao == 'S', 'assertive': produto.produtoemfalta == 'S', 'positive': produto.produtonovo == 'S'}">{{produto.descricaoproduto}}</span>
                            <br>
                            <small>
                {{produto.dados_adicionais}}
              </small>
                        </p>
                    </div>

                    <div>
                        <span style="font-size: 18px; color: #aaa !important;" *ngIf="produto.produtoembalagem && produto.produtoembalagem > 1">
              <small class="item-note-label">Unitário: </small>
              <small *ngIf="produto.produtoempromocao == 'S'">
                {{produto.precopadrao/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$":"symbol"}}
              </small>
              <b
                [class]="{'balanced': produto.produtoempromocao == 'S'}">{{(produto.produtoempromocao == 'S'?produto.preco_promocao:produto.precotabela)/(produto.produtoembalagem?produto.produtoembalagem:1) | currency:"R$":"symbol"}}</b>
            </span>

                        <span class="item-note" slot="end" style="font-size: 18px; text-align: right;">
              <small style="color: red; text-decoration: line-through; font-size: 12px;"
                *ngIf="produto.produtoempromocao == 'S'">
                {{produto.precopadrao| currency:"R$":"symbol"}}
              </small>
              <b [class]="{'balanced': produto.produtoempromocao == 'S'}">{{produto.produtoempromocao == 'S' ? produto.preco_promocao:produto.precotabela  | currency:"R$":"symbol"}}
              </b>
            </span>
                    </div>

                </div>



            </ion-item>
            <ion-item-options side="end">
                <ion-item-option class="button-assertive" (click)="Comissoes(produto.produto_id);" color="danger">COMISSOES
                </ion-item-option>
                <ion-item-option class="button-positive" (click)="Fotos(produto);">FOTOS
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

</ion-content>